{% extends "basic.html" %}

{% block head %}
{% endblock %}

{% block body_head %}
<div class="row">
    <div class="col-md-2 col-md-offset-5">
      <h2>
        注册账号
      </h2>
    </div>
</div>
{% endblock %}

{% block body %}

<div class="container">
    <div class="form-group">
        <form class="form-signin"  method="POST" class= "form-horizontal">
            <div class="row">
            <label class="col-sm-2 col-sm-offset-3">用户名</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="uname" name="username">
            </div>
            </div>

            <br/>

            <div class="row">
            <label class="col-sm-2 col-sm-offset-3">邮箱</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="email" name="email">
            </div>
            </div>

            <br/>

            <div class="row">
            <label class="col-sm-2 col-sm-offset-3">用户昵称</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="nick" name="nickname">
            </div>
            </div>

            <br/>

            <div class="row">
            <label class="col-sm-2 col-sm-offset-3">密码</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="passwd" name="passwd">
            </div>
            </div>

            <br/>

            <div class="row">
            <label class="col-sm-2 col-sm-offset-3">重复密码</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="passwd2" name="passwd2">
            </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}


{% block content %}
{% endblock %}

{% block script %}
{% endblock %}
