{% extends "basic.html" %}

{% block head %}
{% endblock %}

{% block body_head %}
<div class="row">
    <div class="col-md-2 col-md-offset-5">
      <h2>
        注册账号
      </h2>
    </div>
</div>
{% endblock %}

{% block body %}

<div class="container">
    <div class="form-group">
        <form class="form-signin" class= "form-horizontal" onsubmit="return false;">
            <div class="row">
            <label class="col-sm-2 col-sm-offset-3">用户名</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="uname2" name="username" >
            </div>
            </div>

            <br/>

            <div class="row">
            <label class="col-sm-2 col-sm-offset-3" >邮箱</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="email" name="email">
            </div>
            </div>

            <br/>

            <div class="row">
            <label class="col-sm-2 col-sm-offset-3">用户昵称</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="nick" name="nickname">
            </div>
            </div>

            <br/>

            <div class="row">
            <label class="col-sm-2 col-sm-offset-3">密码</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="passwd1" name="passwd">
            </div>
            </div>

            <br/>

            <div class="row">
            <label class="col-sm-2 col-sm-offset-3">重复密码</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="passwd2" name="passwd2">
            </div>
            </div>
        
            <br/>
            <div class="row">
            <label class="col-sm-2 col-sm-offset-5" id="status2"></label>
            </div>
            <br/>

            <div class="row">
                <button type="submit" class="btn btn-primary col-sm-offset-6" onclick="check()" >注册</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}


{% block content %}
{% endblock %}

{% block script %}
<script type="text/javascript">
    function gensalt() {
        // generate salt and then get the salt
        var randstr = Math.random().toString(36).substring(2,26);
        return randstr;
    }

    function checkuser(){
        var statustxt = document.getElementById("status2");
        var username = document.getElementById("uname2").value;
        if(!username) {
            statustxt.innerHTML = "<label> 用户名必须不为空！ </label>";
            document.getElementById("uname2").focus();
            return false;
        }
        return true;        
    }

    function checksame(){
        var statustxt = document.getElementById("status2");
        var passwd = document.getElementById("passwd1").value;
        var passwd2 = document.getElementById("passwd2").value;
        if(!passwd) {
            statustxt.innerHTML = "<label> 密码必须不为空！ </label>";
            document.getElementById("passwd").focus();
            return false;
        }
        if(passwd != passwd2) {
            statustxt.innerHTML = "<label> 密码不符合！ </label>";
            document.getElementById("passwd").focus();
            return false;
        }
        return true;        
    }

    function checkemail(){
        var statustxt = document.getElementById("status2");
        var email = document.getElementById("email").value;
        var reg = /\w+@\w+\.\w+/g;
        if(!reg.exec(email)) {
            statustxt.innerHTML = "<label>邮箱格式错误！</label>";
            email = document.getElementById("email");
            document.getElementById("email").focus();
            return false;
        }
        return true;
    }

    function check(){
        // First check username
        var statustxt = document.getElementById("status2");
        var uname = document.getElementById("uname2").value;
        var email = document.getElementById("email").value;
        var nickname = document.getElementById("nick").value;
        var passwd = document.getElementById("passwd1").value;
        
        if(!checkuser()) return false;
        if(!checkemail()) return false;
        if(!checksame()) return false;
        // using ajax tech, check whether the same username exists
        var xmlhttp = new XMLHttpRequest();
        try{
            xmlhttp.open("GET","/register?username="+uname+"&email="+email,true);
            xmlhttp.onreadystatechange = function(){
                if(xmlhttp.readyState == 4) {
                    if(xmlhttp.getResponseHeader("user_exists")=="0") {
                        xmlhttp.open("POST","/register",true); 
                        xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                        xmlhttp.onreadystatechange = function() {
                            if(xmlhttp.readyState == 4) {
                                var statustxt = document.getElementById("status2");
                                if(xmlhttp.getResponseHeader("reg_success")=="0"){
                                    statustxt.innerHTML = "<label>注册成功，请查看自己的邮箱， 5秒后重定向... </label>";
                                    setTimeout(function(){window.location="/"}, 5000);
                                }else{
                                    statustxt.innerHTML = "<label>注册失败， 5秒后重定向... </label>";
                                    setTimeout(function(){window.location="/"}, 5000);
                                }
                            }
                        }
                        // code from https://github.com/Caligatio/jsSHA
                        var shaObj = new jsSHA("SHA-1", "TEXT");
                        var salt = gensalt();
                        shaObj.update(passwd+salt);
                        var hash = shaObj.getHash("HEX");
                        xmlhttp.send("username="+uname+"&email="+email+"&nickname="+nickname+"&passwd="+hash+"&salt="+salt);
                    }else if(xmlhttp.getResponseHeader("user_exists")=="1"){
                        var statustxt = document.getElementById("status2");
                        statustxt.innerHTML = "<label> 用户名 已存在！ </label>";
                    }else if(xmlhttp.getResponseHeader("user_exists")=="2"){
                        var statustxt = document.getElementById("status2");
                        statustxt.innerHTML = "<label> 邮箱 已存在！ </label>";
                    }else {
                        var statustxt = document.getElementById("status2");
                        statustxt.innerHTML = "<label> 未知错误！ </label>";
                    }
                }
            } 
            xmlhttp.send();

        }catch(except){
            console.log(except);
        }
        return false;
    }

</script>

{% endblock %}
